body {
    margin: 0px;
    padding: 0px;
    background-color: lightblue;
}

p {
    background-color: lightgoldenrodyellow;
    border: solid 2px blueviolet;
}

p:first-of-type {
    height: 100px;
    padding: 20px;
    margin: 0px;
}

p:nth-of-type(2) {
    width: 50%;
    padding: 5em;
    margin: 20px 5px 20px 5px;
}

p:last-of-type {
    height: 200px;
    width: 200px;
    padding: -30px;
    margin: auto;
}