table {
    border-collapse: collapse;
    text-align: center;
}

table th, table td {
    border: solid black 2px;
}

table td {
    background-color: lightcyan;
}

table th {
    background-color: lightskyblue;
}